<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wulei.mapper.PostLikeMapper">
    <select id="countByPostId" resultType="int">
        select count(*) from postLike where postId = #{postId}
    </select>

    <select id="countByPostIdUserId" resultType="int">
        select count(*) from postLike where postId = #{param1} and accountId = #{param2}
    </select>

    <select id="selectPostLiked" resultType="Post">
        select * from post where id in (
          select postId from postLike where accountId = #{accountId}
        )
    </select>

    <insert id="insert" parameterType="PostLike">
        insert into postLike ( id, postId, accountId, createDate )
        values( #{id}, #{postId}, #{accountId}, #{createDate} )
    </insert>

    <delete id="remove" parameterType="PostLike">
        delete from postLike
        where postId = #{param1} and accountId = #{param2}
    </delete>
</mapper>