<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE mapper-->
        <!--PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
        <!--"http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->

<!--<mapper namespace="wulei.mapper.PostMapper">-->
    <!--<select id="selectById" resultType="Post">-->
        <!--select * from post where id = #{id}-->
    <!--</select>-->

    <!--<select id="selectByClassify" resultType="Post">-->
        <!--select * from post where classify = #{classify}-->
    <!--</select>-->

    <!--<insert id="insert" parameterType="Post">-->
        <!--insert into post (id, pictureCollectionId, playbillId, title, essay, createDate, classify,-->
        <!--previewPictureCollectionId, previewStyle)-->
        <!--values ( #{id}, #{pictureCollectionId}, #{playbillId}, #{title}, #{essay}, #{createDate}, #{classify},-->
        <!--#{previewPictureCollectionId}, #{previewStyle} )-->
    <!--</insert>-->
<!--</mapper>-->